<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <header>
        <h1>Main Page</h1>
    </header>
    <main>
        <input type="button" onclick="location.href='/news';" value="News Page" />
        <input type="button" onclick="location.href='/sums';" value="Summarize Page" />
    </main>
    <footer>
        <p>&copy; BERTurk Main Page</p>
    </footer>
</body>
</html>